<style>
    .latex-style {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;

        border: 1px solid var(--border-color);
        border-radius: 4px;

        padding: 5px 6px;
        margin-top: 0;

        color: var(--body-fg);
        background-color: var(--body-bg);

        min-height: 39px;
        min-width: 175px;
        max-width: 70%;
    }
</style>

<textarea name="{{ widget.name }}" style="display:none;" {% include "reshuffle/widgets/attrs.html" %}>
    {% if widget.value %} {{ widget.value }} {% endif %}
</textarea>


<a class="btn btn-primary me-1 align-self-center" data-bs-toggle="modal" data-bs-target="#help_modal">?</a>

<!-- modal with info START -->
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<div class="modal fade" id="help_modal" tabindex="-1" aria-labelledby="help_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="help_modal_label">Помощь по LaTeX оформлению</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Арифметические операции</h6>
                <span id="example_1">\times</span>&emsp;—&emsp;\times<br>
                <span id="example_2">\div</span>&emsp;—&emsp;\div<br>
                <span id="example_3">\pm</span>&emsp;—&emsp;\pm<br>
                <span id="example_4">\mp</span>&emsp;—&emsp;\mp<br>
                <br>
                <h6>Сумма</h6>
                <span id="example_24">\sum_{i=1}^{n} i</span>&emsp;—&emsp;\sum_{i=1}^{n} i<br>
                <br>
                <h6>Дроби</h6>
                <span id="example_17">\frac{x}{n}</span>&emsp;—&emsp;\frac{x}{n}<br>
                <span id="example_19">\frac\dfrac{a}{b}{n}</span>&emsp;—&emsp;frac\dfrac{a}{b}{n}<br>
                <br>
                <h6>Знаки равенства и неравенства</h6>
                <span id="example_10">=, <, ></span>&emsp;—&emsp;=, <, ><br>
                <span id="example_11">\neq</span>&emsp;—&emsp;\neq<br>
                <span id="example_12">\leq</span>&emsp;—&emsp;\leq<br>
                <span id="example_13">\geq</span>&emsp;—&emsp;\geq<br>
                <span id="example_14">\not\geq</span>&emsp;—&emsp;\not\geq <br>
                <span id="example_15">\not\leq</span>&emsp;—&emsp;\not\leq<br>
                <span id="example_16">\equiv</span>&emsp;—&emsp;\equiv<br>
                <br>
                <h6>Скобки</h6>
                <span id="example_20_except">(x), {x}, [x]</span>&emsp;—&emsp;(x), {x}, [x]<br>
                <br>
                <h6>Степени и корни</h6>
                <span id="example_5">x^a</span>&emsp;—&emsp;x^a<br>
                <span id="example_6">x^{ka}</span>&emsp;—&emsp;x^{ka}<br>
                √<span id="example_7">x</span>&emsp;—&emsp;\sqrt x<br>
                <span id="example_8">^n</span>√
                <span id="example_9">x</span>&emsp;—&emsp;\sqrt[n]{x}<br>
                <br>
                <h6>Знак модуля и факториал</h6>
                <span id="example_29">|x|</span>&emsp;—&emsp;|x|<br>
                <span id="example_30">x!</span>&emsp;—&emsp;x!<br>
                <br>
                <h6>Индексы</h6>
                <span id="example_22">x_n</span>&emsp;—&emsp;x_n<br>
                <span id="example_23">x_{kn}</span>&emsp;—&emsp;x_{kn}<br>
                <br>
                <h6>Тригонометрия</h6>
                <span id="example_39">\cos x</span>&emsp;—&emsp;\cos x<br>
                <span id="example_40">\sin x</span>&emsp;—&emsp;\sin x<br>
                <span id="example_41">\tan x</span>&emsp;—&emsp;\tan x<br>
                <span id="example_42">\sec x</span>&emsp;—&emsp;\sec x<br>
                <span id="example_43">\mathrm{cosec} x</span>&emsp;—&emsp;\mathrm{cosec} x<br>
                <span id="example_44">\csc x</span>&emsp;—&emsp;\csc x<br>
                <span id="example_45">\cot x</span>&emsp;—&emsp;\cot x<br>
                <span id="example_46">30^{\circ} </span>&emsp;—&emsp;30^{\circ} <br>
                <br>
                <h6>Логарифмы</h6>
                <span id="example_47">\ln x^k</span>&emsp;—&emsp;\ln x^k<br>
                <span id="example_48">\log_a x^k </span>&emsp;—&emsp;\log_a x^k <br>
                <br>
                <h6>Вектор</h6>
                <span id="example_51">\vec{AB}</span>&emsp;—&emsp;\vec{AB}<br>
                <br>
                <h6>Предел</h6>
                <span id="example_63">\lim_{x\to 0}</span>&emsp;—&emsp;\lim_{x\to 0}<br>
                <br>
                <h6>Дифференцирование</h6>
                <span id="example_25">f'(x)</span>&emsp;—&emsp;f'(x)<br>
                <span id="example_26">\partial</span>&emsp;—&emsp;\partial<br>
                <br>
                <h6>Интегрирование</h6>
                <span id="example_27">\int 2x\ dx </span>&emsp;—&emsp;\int 2x\ dx <br>
                <span id="example_28">\int^2_0 2x\ dx</span>&emsp;—&emsp;\int^2_0 2x\ dx<br>
                <br>
                <h6>Множества</h6>
                <span id="example_66">\cup</span>&emsp;—&emsp;\cup<br>
                <span id="example_67">\cap</span>&emsp;—&emsp;\cap<br>
                <span id="example_68">\subset</span>&emsp;—&emsp;\subset<br>
                <span id="example_69">\subseteq</span>&emsp;—&emsp;\subseteq<br>
                <span id="example_70">\nsubseteq</span>&emsp;—&emsp;\nsubseteq<br>
                <span id="example_71">\in</span>&emsp;—&emsp;\in<br>
                <span id="example_72">\notin</span>&emsp;—&emsp;\notin<br>
                <br>
                <h6>Логические символы</h6>
                <span id="example_57">\forall</span>&emsp;—&emsp;\forall<br>
                <span id="example_58">\land</span>&emsp;—&emsp;\land<br>
                <span id="example_59">\lor</span>&emsp;—&emsp;\lor<br>
                <span id="example_60">\exists</span>&emsp;—&emsp;\exists<br>
                <span id="example_61">\neg</span>&emsp;—&emsp;\neg<br>
                <span id="example_62">\bar{x}</span>&emsp;—&emsp;\bar{x}<br>
                <br>
                <h6>Обычный текст</h6>
                <span id="example_21">\mathrm{hello}</span>&emsp;—&emsp;\mathrm{hello}<br>
                <br>
                <h6>Греческие буквы</h6>
                <span id="example_31">\alpha</span>&emsp;—&emsp;\alpha<br>
                <span id="example_32">\beta</span>&emsp;—&emsp;\beta, \Beta<br>
                <span id="example_33">\gamma, \Gamma</span>&emsp;—&emsp;\gamma, \Gamma<br>
                <span id="example_34">\pi, \Pi</span>&emsp;—&emsp;\pi, \Pi<br>
                <span id="example_35">\phi, \varphi</span>&emsp;—&emsp;\phi, \varphi<br>
                <span id="example_36">\mu</span>&emsp;—&emsp;\mu<br>
                <span id="example_37">\Phi</span>&emsp;—&emsp;\Phi, \varPhi<br>
                <br>
                <h6>Знак бесконечности</h6>
                <span id="example_38">\infty</span>&emsp;—&emsp;\infty<br>
                <br>
                <h6>Стрелки</h6>
                <span id="example_52">\Rightarrow, \Leftarrow</span>&emsp;—&emsp;\Rightarrow, \Leftarrow<br>
                <span id="example_53">\not\Rightarrow, \not\Leftarrow</span>&emsp;—&emsp;\not\Rightarrow, \not\Leftarrow<br>
                <span id="example_54">\rightarrow, \leftarrow</span>&emsp;—&emsp;\rightarrow, \leftarrow<br>
                <span id="example_55">\mapsto</span>&emsp;—&emsp;\mapsto<br>
                <span id="example_56">\Leftrightarrow</span>&emsp;—&emsp;\Leftrightarrow<br>
                <br>
                <h6>Точки</h6>
                <span id="example_49">x_n+\cdots</span>&emsp;—&emsp;x_n+\cdots<br>
                <span id="example_50">x_n+\ldots</span>&emsp;—&emsp;x_n+\ldots<br>
                <br>
                <h6>Другое</h6>
                <span id="example_64">\Re</span>&emsp;—&emsp;\Re<br>
                <span id="example_65">\Im</span>&emsp;—&emsp;\Im<br>
                <span id="example_73">\triangle</span>&emsp;—&emsp;\triangle<br>
                <br>
            </div>
        </div>
    </div>
</div>
<script>
    var MQ = MathQuill.getInterface(2);
    for (let i = 1; i < 74; i++)
        MQ.StaticMath(document.getElementById('example_' + i));
</script>
<!-- modal with info END -->

<span id="input-field" class="latex-style fs-5">
    {% if widget.value %} {{ widget.value }} {% endif %}
</span>

<script>
    var mathFieldSpan = document.getElementById('input-field');
    var latexSpan = document.getElementById('id_latex'); // hide field

    var MQ = MathQuill.getInterface(2); // for backcompat
    var mathField = MQ.MathField(mathFieldSpan, {
        spaceBehavesLikeTab: true, // configurable
        handlers: {
            edit: function () { // useful event handlers
                latexSpan.textContent = mathField.latex(); // simple API
            }
        }
    });
</script>
