{% extends "reshuffle/main_template.html" %}

{% load static %}


{% block content %}
    <main class="container mb-4">
        <p class="mb-4">Посмотреть последний созданный <a href="{% url 'download' %}">архив</a></p>

        <div class="row row-cols-1 row-cols-md-2 g-4">

            <!-- 1 card START -->
            <div class="col" data-aos="fade-right" data-aos-duration="300">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title my-4 mx-2">Создать варианты</h5>
                        <p class="card-text mb-4 mx-2">
                            В данном разделе вы сможете создать архив вариантов. Экземпляр одного варианта кодируется
                            уникальным номером и состоит из двух файлов: файл заданий и файл ответов. Файлы заданий и
                            ответов распределены в соответствующие папки в архиве. Обратите внимание, что создавать
                            архивы вы можете только по тем предметам, доступ к которым предоставил вам администратор.
                        </p>
                    </div>
                    <a href="{% url 'creation' %}" class="btn btn-lg btn-primary w-50 align-self-center mb-4">
                        Выбрать </a>
                </div>
            </div>
            <!-- 1 card END -->

            <!-- 2 card START -->
            <div class="col" data-aos="fade-left" data-aos-duration="300">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title my-4 mx-2">Изменить каталог заданий</h5>
                        <p class="card-text mb-4 mx-2">
                            В данном разделе вы сможете просматривать и изменять каталог заданий – добавлять,
                            редактировать и удалять задания и ответы к ним. Для этого предусмотрены формы, которые
                            поддерживают ввод обычного текста, формул и загрузку изображений. Обратите внимание, что
                            вышеописанный функционал вам доступен только для тех предметов, доступ к которым предоставил
                            вам администратор.
                        </p>
                    </div>
                    {% if user.is_staff %}
                        <a href="/admin" class="btn btn-lg btn-primary w-50 align-self-center mb-4">Выбрать</a>
                    {% else %}
                        <a href="#" class="btn btn-lg btn-secondary w-50 align-self-center mb-4">Нет доступа</a>
                    {% endif %}
                </div>
            </div>
            <!-- 2 card END -->
        </div>
    </main>
{% endblock %}


{% block footer %}
    <div>
        <p class="mx-1">
            {{ footertext.label }}
            <b>{{ footertext.username }}</b>
        </p>
        <a href="{% url 'logout' %}">Выйти</a>
    </div>
{% endblock %}
