{% extends "reshuffle/main_template.html" %}

{% load static %}


{% block content %}
    <main class="container mb-4">
        <div class="row row-cols-1 row-cols-md-2 g-4">

            <!-- 1 card START -->
            <div class="col" data-aos="fade-right" data-aos-duration="300">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title my-4 mx-2">Создать варианты</h5>
                        <p class="card-text mb-4 mx-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet tempor dui. Sed
                            sed posuere justo. Vestibulum et massa viverra, pretium massa ac, cursus tellus. Ut
                            fringilla neque a eros gravida, quis bibendum felis vehicula. Maecenas consectetur sem non
                            efficitur tempus. Sed facilisis pharetra mi. Cras ut euismod nisi. Praesent auctor eu quam
                            in consectetur.
                        </p>
                    </div>
                    <a href="{% url 'creation' %}" class="btn btn-lg btn-primary w-50 align-self-center mb-4">
                        Выбрать </a>
                </div>
            </div>
            <!-- 1 card END -->

            <!-- 2 card START -->
            <div class="col" data-aos="fade-left" data-aos-duration="300">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title my-4 mx-2">Изменить каталог заданий</h5>
                        <p class="card-text mb-4 mx-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet tempor dui. Sed
                            sed posuere justo.
                        </p>
                    </div>
                    {% if user.is_staff %}
                        <a href="/admin" class="btn btn-lg btn-primary w-50 align-self-center mb-4">Выбрать</a>
                    {% else %}
                        <a href="#" class="btn btn-lg btn-secondary w-50 align-self-center mb-4">Нет доступа</a>
                    {% endif %}
                </div>
            </div>
            <!-- 2 card END -->
        </div>
    </main>
{% endblock %}


{% block footer %}
    <div>
        <p class="mx-1">
            {{ footertext.label }}
            <b>{{ footertext.username }}</b>
        </p>
        <a href="{% url 'logout' %}">Выйти</a>
    </div>
{% endblock %}
